.cls-1 {
  fill: #f3c7fc;
}
.cls-2 {
  opacity: 1;
}
.cls-3,
.cls-5,
.cls-6 {
  fill: #fff;
}
.cls-4 {
  fill: url(#Degradado_sin_nombre_4);
}
.cls-5 {
  font-size: 27px;
  font-family: Montserrat-SemiBold, Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
.cls-6 {
  font-size: 25px;
  font-family: Montserrat-Medium, Montserrat;
  font-weight: 500;
  text-transform: uppercase;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: #00000050 !important;
}